In [ ]:
print("sajith")

sajith

In [ ]:
#this is brand name#

In [ ]:
print(5+2)

7

In [ ]:
number1 = 35
number2 = 65
print(number1+number2)

100

In [ ]:
#this code for variable declaration

In [ ]:
2
number1 = int(input("enter a number1:"))
number2 = int(input("enter a number2:"))
print(number1 + number2)

enter a number1:1
enter a number2:2
3

In [ ]:
number1 = int(input("enter a number 1 :"))
number2 = int(input("enter a number2 : "))
print(number1 - number2)

enter a number 1 :1
enter a number2 : 2
-1

In [ ]:
number1 = int(input("enter a number1 : "))
"""
this is taking input
from user
"""
number2 = int(input("enter a number2 : "))
print(number1 * number2)

enter a number1 : 1
enter a number2 : 2
2

In [ ]:
number1 = int(input("enter a number1 :"))
number2 = int(input("enter a number2 : "))
print(number1 + number2)

enter a number1 :1
enter a number2 : 2
3

In [ ]:
#this code for taking input from user

In [ ]:
a = 10
print(type(a))

b = "sajith"
print(type(b))

c = 5.6

d = ["appple", "mango", "tomatto"]

e = ("apple", "mango", "tomatto")

f = {"apple", "mango", "tomatto"}


print(type(c))
print(type(d))
print(type(e))
print(type(f))

#this code for printing type #

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [ ]:
a = int(input("enter a number1 :"))
b = int(input("enter a number2 :"))
c = int(input("enter a number3 :"))

if(a > b and a > c):
  print(a)
elif(b > a and b > c):
  print(b)
else:
  print(c)

  #thsi code for finding maximum number

enter a number1 :1
enter a number2 :45
enter a number3 :67
67

In [ ]:
a = int(input("enter a number"))
if (a % 2 == 0):
  print("even")
else:
  print("odd")

  #this code for find even or odd

enter a number34
even

In [ ]:
n= 8
fact = 1
i = 1
for i in range(1, n + 1):
  fact = fact * i
print(fact)

# this code for print factorial number

40320

In [ ]:
a = 45
b = 23
a,b = b,a
print("number a is", a)
print("number b is", b)
# this code for swap two values

number a is 23
number b is 45

In [ ]:
a = 45
b = 23
temp = 0
temp = a
a = b
b = temp
print("number a is", a )
print("number b is", b )

#this code for swap two values using temporary value

number a is 23
number b is 45

In [ ]:
def fib(n):
  a = 0
  b = 1
  print(a)
  print(b)
  for i in range(2,n):
    c = a + b
    a = b
    b = c
    print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34

In [2]:
x = 4
x = "sajith"
print(x)

sajith

In [3]:
a,b,c= "sajith", "sooraj", "akash"
print(a)
print(b)
print(c)

sajith
sooraj
akash

In [4]:
list = ["apple", "orange", "mango"]
x,y,z= list
print(x)
print(y)
print(z)

apple
orange
mango

In [5]:
def function(a,b):
  print(a + b)
function(10,15)

25

In [6]:
a  = 10 # this is local variable
b = 12
def function():
  global x #this keyword is use to converting local variable to global variable
  a = 25
  b = 23
  #print(a + b)
function()
print(a+b)

22

In [8]:
x = 10
def function(x):
  function(x)
  print(x)

In [9]:
x = 2.5
y = 10
z  =3+5j
a = int(x)
b = float(y)
c = (z)
print(a)
print(b)
print(c)

2
10.0
(3+5j)

In [10]:
import random
print(random.randrange(0,50,5))

5

In [11]:
sports = "sajith is a volleyball player"
print(sports)

sajith is a volleyball player

In [12]:
for letters in "banana":
  print(letters)
list = ["apple","banana","mango"]

b
a
n
a
n
a

In [13]:
a = "sajith is a sports player"
print(len(a))
print("sport" in a)
print(a[0:7])
print(a[:7])
print(a[0:])
print(a.replace("sajith", "rpr"))
print(a.upper())
print(a.lower())
print(a.strip())
print(a.split(" a "))

25
True
sajith
sajith
sajith is a sports player
rpr is a sports player
SAJITH IS A SPORTS PLAYER
sajith is a sports player
sajith is a sports player
['sajith is', 'sports player']

In [14]:
print(bool(3))
print(10 > 3)

True
True

In [15]:
list1 = ["volleyball", "cricket", "basketball"]
list2 = ["car", "bike", "auto"]
a = list1 + list2
a[4]= "sajith"
print(a)
print(a)
print(len(list1 + list2))
print(list1[2])
print(list1[1:3])
a.insert(2,"football")
print(a)
a.remove("football")
print(a)
a.pop(3)

['volleyball', 'cricket', 'basketball', 'car', 'sajith', 'auto']
['volleyball', 'cricket', 'basketball', 'car', 'sajith', 'auto']
6
basketball
['cricket', 'basketball']
['volleyball', 'cricket', 'football', 'basketball', 'car', 'sajith', 'auto']
['volleyball', 'cricket', 'basketball', 'car', 'sajith', 'auto']

'car'

In [17]:
list1 = ["34","67","21","54","33"]
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

['21', '33', '34', '54', '67']
['67', '54', '34', '33', '21']

In [18]:
list4 = ['3','4','5']
list5 = ['a', 'b', 'c']
list4.extend(list5)
list4

['3', '4', '5', 'a', 'b', 'c']

In [21]:
tuple = {"sajith", "priyanga","praveen"}
print(len(tuple))
print

3

In [22]:
Tuple = ("sajith", "priyanga","praveen")
print(Tuple)

('sajith', 'priyanga', 'praveen')